<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EventeX</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
        </ul>
        <h3 class="text-muted">EventeX</h3>
      </div>

      <div class="jumbotron">
        <h1>Bem-vindo ao EventeX!</h1>
        <p class="lead">O evento mais sensacional do ano depois do Dev in Rio!</p>
        <p class="lead">Você não pode perder esta oportunidade!</p>
        <p class="lead"><strong>Abertura das inscrições no próximo domingo.</strong></p>
        <p class="lead">Para dúvidas e mais informações entre em contato com <a href="mailto:leandro.silva@uniriotec.br">leandro.silva@uniriotec.br</a></p>
        <p><a class="btn btn-lg btn-success disabled" href="#">Inscrições em breve!</a></p>
      </div>

      <div class="footer">
        <p>&copy; EventeX 2013</p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
