{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1>Bem-vindo ao EventeX!</h1>
    <p class="lead">O evento mais sensacional do ano depois do Dev in Rio!</p>
    <p class="lead">Você não pode perder esta oportunidade!</p>
    <p><a class="btn btn-lg btn-success" href="/inscricao/">Inscreva-se já!</a></p>
    <p class="lead">Para dúvidas e mais informações entre em contato com <a href="mailto:leandro.silva@uniriotec.br">leandro.silva@uniriotec.br</a></p>
</div>
{% endblock content %}